<!DOCTYPE html>

<html xmlns:th="htt://www.thymleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css";
            rel="stylesheet"
            integrity=""
            crossorigin="anonymous"
            >
        <!-- Bootstrap JS and dependencies -->
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
            integrity="" 
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img th:src="@{/images/logo.itses.png}"
                         width="125" height="38"
                         class="d-inline-block align-top">
                    METODOS NUMERICOS

                </a>
            </div>
        </div>
    </nav>


    <table class="table">
        <thead>
            <tr >
                <th scope="col">#</th>
                <th scope="col">XL</th>
                <th scope="col">XU</th>
                <th scope="col">XR</th>
                <th scope="col">F(XL)</th>
                <th scope="col">F(XU)</th>
                <th scope="col">F(XR)</th>
                <th scope="col">Error Aprox.</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="solve,iter:${solvebisection}">
                <td th:text="${iter.index}"># de Iteración</td>
                <td th:text="${solve.XL}">Valor inferior XL</td>
                <td th:text="${solve.XU}">Valor superior XU</td>
                <td th:text="${solve.XR}">Valor calculado Raiz XR</td>
                <td th:text="${solve.FXL}">Funcion ecaluada en XL</td>
                <td th:text="${solve.FXU}">Funcion ecaluada en XU</td>
                <td th:text="${solve.FXR}">Funcion ecaluada en XR</td>
                <td th:text="${solve.Ea}">Error estimado aproximación actual</td>

            </tr>

        </tbody>
    </table>
    <div class="d-flex gap-3">
        <a href="/" class="btn btn-primary">Volver al Inicio</a>
    </div>
</body>
</html>
